*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
html,body{
  background-color: #eee;
  padding: 0 16px;
}

header {
  background: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);

}
header h1{
  color: #fff;
  font-family: 'McLearn', cursive;
  font-weight: 200;
}
footer{
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
footer p{
  color: rgb(52, 52, 128);
}
.Note{
  background: #fff;
  padding: 10px;
  border-radius: 1rem;
  margin: 16px;
  width: 240px;
  box-shadow: 0 2px 5px #ccc;
}
.Note h1{
  font-size: 1.2rem;
  margin-bottom: 7px;
  color: red;
}
.Note p{
  font-size: 1rem;
  color: black;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.card{
  display: flex;
  flex-wrap: wrap;
}