.container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    margin-top: 55px;
}
.contact_form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.top_btn{
    display: flex;
    gap: 32px;
}
.contact_form form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.form_control{
    display: flex;
    flex-direction: column;
    position: relative;
}
.form_control input{
    height: 40px;
    padding: 0 10px;
}
.form_control label{
    font-size: 14px;
    position: absolute;
    top: -11px;
    left: 10px;
    background-color: white;
    padding: 0 10px;
}
.form_control textarea{
    padding: 18px;
    font-size: 16px;
    font-weight: 500;
}