*{
  margin: 0;
  padding: 0;
  /* background: #000; */
  box-sizing: border-box;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
html,body{
  height: 100%;
  width: 100%;
}
.card{
  background: teal;
  border-radius: 10px;
  margin: 20px;
  padding: 25px;
  color: wheat;
}
.nav{
  padding: 25px;
  background: rgb(234, 155, 8);
  margin: 20px;
  border-radius: 10px;
  color: wheat;
}